/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*colors*/

:root{
    --pink: rgb(238,130,238);
    --lightpink: rgb(255,192,203);
    --blue:rgb(30,144,255);
    --lightblue:rgb(173,216,230);
    --darkblue:rgb(0,0,139);
    --green:rgb(34,139,34);
    --darkpink:rgb(240,128,128);
    --azure:rgb(32,178,170);
    --orange:rgb(218,165,32);
    --black:rgb(35,39,42);
    --grey:rgb(211,211,211);
    --lightgreen:rgb(127,255,212);
    --bluediscord:rgb(49,97,224);
    
}

.white{
    color: white;
}

.black{
    color: black;
}

.bgblack{
    background-color: rgb(35,39,42)
}

/* general utilities*/

*{
    font-family: sans-serif;
}

.flex{
    display: flex;
}

:root{
    --border: 2px dashed black;
}
.center-text{
    text-align: center;
}

.padding-bottom-50{
    padding-bottom: 50px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}

p{
    line-height: 30px;
}



/* header */

header{
    background-color: var(--bluediscord);
    min-height: 100px;
    align-items: center;
    justify-content: center;
}


a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.header-container{
    min-height: 50px;
    width: 70%;
    background-color: var(--bluediscord);
}
header nav{
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
}

.header-links{
    flex-basis: 50%;
    justify-content: space-between;

}


button{
    border: none;
    padding: 10px 12px;
    border-radius: 9em;
    text-align: right;
    
}


/* main sections */


/* jumbotron */
.jumbotron{
    height: 500px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding-top: 90px;
 }
    

.jumbotron-section{
    height: 50%;
    width: 40%;
    margin: 0 auto;
   

}

.title-jumbotron{
    text-align: center;
    color: white;
    font-size: 3em;
    padding-bottom: 50px;
  
}

.jumbotron-section nav{
    gap: 20px;
    justify-content:center;
}







/* sections */



/* bluepink sections */

.main-section{
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-content-blue{
    flex-basis: 60%;
    min-height: 650px;
    background-color: var(--blue);
    border: var(--border)
 
}

.main-content-pink{
    flex-basis: 40%;
    height: 650px;
    background-color: var(--lightpink);
    border: var(--border)
}


/* reverse bluepink section */

#reverseblue{
    flex-basis: 40%;
    height: 650px;
    background-color: var(--lightpink);
    border: var(--border)
}

#reversepink{
    flex-basis: 60%;
    min-height: 650px;
    background-color: var(--blue);
    border: var(--border)
}

/* big green section */

.big-green-container{
    min-height: 1200px;
    padding: 3%;
   
}

.big-green{
    min-height: 1100px;
    width: 1207px;
    margin: auto;
    background-color: var(--green);
    border: var(--border)
}

/* column section */

.column-container{
    min-height: 625px;
    margin: auto;
    background-color: var(--black);
    padding: 1%;
}

.flex-column{
    display: flex;
    min-height: 600px;
    width: 1207px;
    flex-direction: row;
    margin: auto;
}

.standard-column{
    flex-basis: 15%;
    height: 600px;
    background-color: var(--azure);
    border: 2px dashed white;
}

.pink-column{
    height: 600px;
    flex-basis: 40%;
    background-color: var(--darkpink);
    border: var(--border);
}

/* footer */

footer{
    min-height: 100px;
    background-color: var(--black);
    padding: 2%;
    padding-bottom: 0;
    
}

.footer-flex{
    min-height: 70px;
    width: 1207px;
    background-color:var(--lightgreen);
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  
}

.footer-div{
    flex-basis: 10%;
    height: 30px;
    background-color: var(--lightpink);
    border: var(--border);
    
}

.p-footer{
    text-align: center;
}